@media(max-width:770px) and (min-width:600px){
    .ipad-dashboard{
        padding-left:0 !important;
        padding-right:0 !important;
        width:90%;
        margin:auto;
    }
}
.back-button{
    /* position:absolute; */
    /* z-index: 200 ; */
    /* left:-3px; */
    /* top:25px; */
    height:40px;
    width:40px;
    border-radius: 50%;
    background-color: #8334f8;
    /* filter: brightness(150%); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-bottom: 20px;
}
.fa-angle-left{
    margin-left:-3px;
    color:#fff
}