#label1{
    color:grey;
}
#label2{
    color:grey;
}
#label3{
    color:grey;
}
#label4{
    color:grey;
}
.notification{
    color: black;
    position: absolute;
    font-size: 14px;
    background-color: red;
    border-radius: 50%;
    border-color: red;
    margin-left: 20px;
    width: 15px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
  }