
.page-wrapper{
    position:relative;
}
.back-button{
    /* position:absolute; */
    /* z-index: 200 ; */
    /* left:-3px; */
    /* top:25px; */
    height:40px;
    width:40px;
    border-radius: 50%;
    background-color: #223e92    ;
    /* filter: brightness(150%); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.fa-angle-left{
    margin-left:-3px;
    color:#fff
}
.table-div{
    border:2px solid #f3f3f3;
    padding: 5px;
    padding-top:10px;
    margin-top: 20px;
    border-radius: 5px;
}
.for-table-setting{
    width:100%;
    table-layout: fixed;
}

.heading-row{
    background-image: linear-gradient(to right, #9b88f6 , #f25c8a);
    color:#fff;
}
.heading-row th{
    padding: 10px !important;
    text-align: center;
    font-weight: 900 !important;
    border-spacing: 0px;
    border-collapse: collapse;
}
.data-row td{
    padding: 10px !important;
    text-align: center;
}
.heading-row th:first-child{
    border-radius: 5px 0px 0px 5px;
}
.heading-row th:last-child{
    border-radius: 0px 5px 5px 0px;
}





@media(min-width:1024px){
.links-parent{
    /* margin-top: -100px; */
}
}