
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.container{font-family: 'Poppins', sans-serif;}

.new-nav{
    background-image:linear-gradient(to right, #934CFF 0%, #F62B84 100%) !important;
    position: static;
    height:65px;
}

