
@media(max-width:600px){
    .for-question-mobile{
        margin-bottom: 10px;
    }
    .for-name-sec{
        margin-bottom: 20px;
        margin-top:10px
    }
    .for-question-res{
        flex-direction: column;
        width:28%;
        text-align: left;
        margin:auto;
        /* margin-right: -2px !important; */
    }
    .sector{
        margin-top: 75px !important;
        margin-bottom: 20px !important;
        font-size: 20px !important;
    }
    .end-customer-right{
    margin-left:-12px
}

}


@media(min-width:1025px){

    .right-side{
        padding: 0;
        background-color: #fff;
    }

.acc-to-frac{
    padding-left:0px !important;
    padding-right:0px !important;
    padding-bottom:50px !important
}
.left-side-pic{
    padding: 0px;
}
.back-next{
    margin-bottom: 40px;
}
}
@media(min-width:768px) and (max-width:1023px){
    .for-question-res{
        font-size: 12px;
    }
}
@media(max-width:1024px){
    .left-side-pic{
        display: none;
    }
}