@media(max-width:600px){
    .for-question-mobile{
        margin-bottom: 10px;
    }
    .for-name-sec{
        margin-bottom: 10px;
        margin-top:10px
    }
    .for-question-res{
        flex-direction: column;
    }
    /* .for-ques-mob{
        width:100px !important;
        text-align: center !important;
    } */
}

@media(min-width:1024px){


.acc-to-frac{
    padding-left:0px !important;
    padding-right:0px !important;
    padding-bottom:40px !important
}
.left-side-pic{
    padding: 0px;
}
.back-next{
    margin-bottom: 30px;
}
}