
.s-button{
    color: #fff !important;
    padding-top: 3px;
    padding-bottom: 3px;
    border:2px solid #f72a85;

    
}
.s-button:hover{
    border:2px solid #f72a85;
    background-color: #fff;
    color:#f72a85 !important;
    /* font-weight: bold !important; */
}
.front-rear-pic img{
    height:50px;
    width: 50px;
}


@media(max-width:600px){
    .for-question-mobile{
        margin-bottom: 10px;
    }
    .for-name-sec{
        margin-bottom: 20px;
        margin-top:10px
    }
    .for-question-res{
        flex-direction: column;
        width:28%;
        text-align: left;
        margin:auto;
        /* margin-right: -2px !important; */
    }
    .sector{
        margin-top: 75px !important;
        margin-bottom: 20px !important;
        font-size: 20px !important;
    }
    .end-customer-right{
    margin-left:-12px
}


}

.question-background-color{
    /* background-image: linear-gradient(#b28aee23,#b28aee5e); */
}
.frank-color-blue{
    color:#1010ff !important

}
.frank-color-pink{
    color:#ff14ff !important
}


@media(min-width:1025px){

    .right-side{
        padding: 0;
        background-color: #fff;
    }

.acc-to-frac{
    padding-left:0px !important;
    padding-right:0px !important;
    padding-bottom:50px !important
}
.left-side-pic{
    padding: 0px;
}
.back-next{
    margin-bottom: 40px;
}
}
@media(min-width:768px) and (max-width:1023px){
    .for-question-res{
        font-size: 12px;
    }
}
@media(max-width:1024px){
    .left-side-pic{
        display: none;
    }
}