.wooficsfooter{
    margin-top: 15%;
}
.marginclass{
    margin-top: 15%;
    /* padding: 0!important; */
}

.backimg{
    background-image: url(../images/Footer4k.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.footerLogo{
    width:150px;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }



@media(min-width:992px){
    .marginclass{
        padding: 0 !important;
    }
}
@media (max-width:770px){
   
    .woofic_middle_side{
        margin: 0px;
        margin-top: 15%;
        margin-bottom: 30px;
        line-height: 50px;
        width: auto;
        /* height: 0px; */
    }
    .woofic_left_side{
        width: auto;
    }
    .wooficsfooter{
        margin-top: 15%;
    }
    .wooficslogo{
        display: flex;
    flex-direction: column;
    /* margin-left: 50px; */
    }
    .ipad{
        margin-left:25px;
    }
    
}
@media(max-width:600px){
    .wooficsfooter{
        margin-top: 80%;
    }
    .backimg{
        background-position: 60% 50%;
    }
    .ipad{
        /* margin-left:0px; */
        margin:auto;
    }
    .wooficslogo{
        display: flex;
    align-items: center !important;
        
    }
}
@media(max-width:3840px) and (min-width:2000px){
    .leftside-text{
        width: 75%;
        margin: auto
    }
    .footer-margin{
        margin-top: 10%;
    }
    .footerLogo{
        width:260px;
    }
    .footer-label{
        margin-top: -15px;
    }
}
@media(width:1024px){
    .footer-right-side{
        width:95%;
        margin-right:5px;
    }
}

