@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}


body {
  color: #000;
  overflow-x: hidden;
  background-color: #ffffff;
  background-repeat: no-repeat;

}

 div,th,a,p,h1,h2,h4,h5,h6,span,td{
  text-transform:lowercase 
}
div::first-letter,th::first-letter,a::first-letter,p::first-letter,h1::first-letter,h2::first-letter,h4::first-letter,h5::first-letter,h6::first-letter,span::first-letter,td::first-letter{
  text-transform:uppercase 
}
div,a,p,h1,h2,h4,h5,h6,span{
  text-transform:capitalize 
}


.for-table-setting{
  width:100%;
  table-layout: auto;
}

.heading-row{
  background-image: linear-gradient(to right, #9b88f6 , #f25c8a);
  color:#fff;
}
.heading-row th{
  padding: 10px !important;
  text-align: center;
  font-weight: 900 !important;
  border-spacing: 0px;
  border-collapse: collapse;
}
.data-row td{
  padding: 10px !important;
  text-align: center;
}
.heading-row th:first-child{
  border-radius: 5px 0px 0px 5px;
}
.heading-row th:last-child{
  border-radius: 0px 5px 5px 0px;
}


/* for replacement */

#heading-row{
  background-image: linear-gradient(to right, #9b88f6 , #f25c8a);
  color:#fff;
}
#heading-row th{
  padding: 10px !important;
  text-align: center;
  font-weight: 900 !important;
  border-spacing: 0px;
  border-collapse: collapse;
}
#data-row td{
  padding: 10px !important;
  text-align: center;
}
#heading-row th:first-child{
  border-radius: 5px 0px 0px 5px;
}
#heading-row th:last-child{
  border-radius: 0px 5px 5px 0px;
}
.salman-table-change{
  overflow: auto;
}

.card0 {
  border-radius: 0px
  
}

.card2 {
  margin: 0px 40px
}

.logo {
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-left: 35px
}

.image {
  width: 390px;
  height: 350px
}

.facebook {
  background-color: #3b5998;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer
}

.twitter {
  background-color: #1DA1F2;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer
}

.linkedin {
  background-color: #2867B2;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer
}

.line {
  height: 1px;
  width: 45%;
  background-color: #E0E0E0;
  margin-top: 10px
}

.or {
  width: 10%;
  font-weight: bold
}

.text-sm {
  font-size: 14px !important
}

::placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300
}

:-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
}

::-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
}

input,
textarea {
  padding: 10px 12px 10px 12px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 14px;
  letter-spacing: 1px
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  /* border: 1px solid #304FFE; */
  outline-width: 0
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

a {
  color: inherit;
  cursor: pointer
}

.btn-blue {
  background-color: #76323f;
  width: 150px;
  color: #fff;
  border-radius: 2px
}

.btn-blue:hover {
  background-color: #76323f;
  color: white;
  cursor: pointer
}

.bg-blue {
  color: #fff;
  background-color: #76323f
}

@media screen and (max-width: 991px) {
  .logo {
      margin-left: 0px
  }

  .image {
      width: 300px;
      height: 220px
  }

  .border-line {
      border-right: none
  }

  .card2 {
      margin: 0px 15px
  }
}


.setting{
  width: 50%;
}




.star {
  display: inline-block;  
  cursor: pointer;
}

.inactive, .active {
  background: transparent;
  user-select: none;
}

.inactive {
  color: #f1f1e8;
}
@media(max-width:3840px) and (min-width:2000px){
  body{
    font-size: 30px;
  }
}

